@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: white;
}
.title{
  text-align: center;
}
.container{
  height: auto;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position:relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 50;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #265894);
}
/*configuração espaços*/
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.recursos{
  margin-top: 20px;
  text-align: justify;
}

.button {
  background-color: #265894;
  font-weight: bold;
  padding: 12px 50px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  position: center;
  margin: 0 auto;
  margin-top:20px;
  text-align: center;
}
.button:hover {
  background-color: #1b4768;
}

